<% if mobile_device == "mobile" %>
  <%= render 'shared/navbar-index-mobile' %>
<% else %>
  <%= render 'shared/navbar-index' %>
<% end %>

<div class="index-view">

  <div class="index-images">
    <% @paintings.each do |painting| %>
      <%= link_to (render 'shared/painting-card', painting: painting), painting_path(painting), :style=>'color: black; text-decoration: none' %>
    <% end %>
  </div>

  <div class="index-map">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

</div>
