
<% if @painting.photo.attached? %>
  <%= cl_image_tag @painting.photo.key, height: 300, width: 400, crop: :fill, class: "photo" %>
  <% else %>
    <img class="photo" src="https://p5.focus.de/img/fotos/crop3263390/0685332128-w1200-h627-q75-p5/Ausstellungen-Das-Bild-Der-Schrei-von-Edvard-Munch.jpg" />
<% end %>

<div class="container" align="center">
  <div class="row " >
    <div class="col-6">
      <h1>Artist : <%= @painting.artist %></h1>
      <h1>Title : <%= @painting.title %></h1>
      <h1>Price : <%= @painting.price_per_day %></h1>
      <h1>Address : <%= @painting.address %></h1>
      <%= link_to "Go back to Paintings", paintings_path %>
    </div>


    <div class="col-4">
      <%= simple_form_for (Booking.new) do |f| %>
      <%= f.input :start_date, as: :date %>
      <%= f.input :end_date, as: :date %>
      <%= f.submit "Add a booking", class: "btn btn-primary" %>
     <% end %>
    </div>
</div>
</div>

