<div class="d-flex justify-content-center dashboard-sign-in">
  <h2 class="dashboard-header"><strong>Welcome <%= @user.fullname %></strong></h2>
</div>

<div class="d-flex" style="padding-top: 70px;">

  <div class="dashboard-width">

    <%= render 'dashboard-tab-logic' %>

  <div id="paintings" class="tab-content">
    <div class="full-card">
      <% @user.paintings.each do |painting| %>
        <%= link_to (render 'shared/painting-card', painting: painting), painting_path(painting), :style=>'color: black; text-decoration: none' %>
      <% end %>
    </div>
  </div>

  <%= render 'dashboard-confirm-bookings' %>

<%= render 'dashboard-upcoming-bookings' %>

</div>

  <%= render 'dashboard-info' %>

</div>
