<div class="d-flex justify-content-center">
  <div class="profile-container">
    <% unless current_user.photo.attached? == false %>
      <%= cl_image_tag current_user.photo.key, height: 400, width: 400, crop: :fill, alt: "big-avatar", :class=>'avatar-giant' %>
    <% else %>
      <img src="https://image.flaticon.com/icons/svg/21/21104.svg" class="avatar-giant" alt="big-avatar">
    <% end %>

    <div class="d-flex justify-content-center mt-3 mb-3">
      <h5> <strong> Account Information </strong></h5>
    </div>

    <div style="overflow-x: auto;">
      <table style="text-align: left;">
        <tr>
          <td><p><strong>Name:</strong></p></td>
          <td style="padding-left: 1em;"><p><%= current_user.fullname %></p></td>
        </tr>
        <tr>
          <td><p><strong>Email:</strong></p></td>
          <td style="padding-left: 1em;"><p><%= current_user.email %></p></td>
        </tr>
        <tr>
          <td><p><strong>Joined on:</strong></p></td>
          <td style="padding-left: 1em;"><p><%= current_user.created_at.to_date.strftime("%d of %B, %Y")  %></p></td>
        </tr>
      </table>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <h2><%= link_to ('<i class="far fa-edit" style="color: rgb(229, 30, 109);margin-left: .7em;margin-top: 12px;margin-right: 12px;" margin-left: .7em;"></i>').html_safe, edit_user_registration_path %></h2>
      <a href="<%= destroy_user_session_path %>" data-method="delete" class="btn logout-button">Logout</a>
    </div>
  </div>
</div>
