<div class="banner">
  <img class="banner-picture" src="<%= image_path('banner-city-by-the-lake.jpg') %>" alt="">
  <img class="banner-picture" src="<%= image_path('banner-sternenklare-nacht.jpg') %>" alt="">
  <img class="banner-picture" src="<%= image_path('banner-michelangelo.jpeg') %>" alt="">
  <img class="banner-picture" src="<%= image_path('banner-alas-esemis.jpg') %>" alt="">
  <img class="banner-picture" src="<%= image_path('banner-monet.jpg') %>" alt="">
  <img class="banner-picture" src="<%= image_path('banner-picasso.jpeg') %>" alt="">

  <div class="container-header banner-text">
    <h1>Rent-a-Rembrandt</h1>
    <p class="">Experience Art Masterpieces at Home</p>
    <a href="paintings" class="btn-main">Rent Painting</a>
  </div>

</div>
